# Ignore Python virtual environments
venv/
__pycache__/

# Ignore large datasets
*.csv
*.json
*.h5
*.hdf5
*.tfrecord

# Ignore model weights
*.pth
*.pt
*.onnx

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/
